<md-dialog class="md-default-theme compose-dialog" aria-label="New Message" flex="60">

    <md-toolbar class="md-accent md-hue-2" style="background-color: rgb(4,155,229)">

        <div class="md-toolbar-tools">
            <!-- Title -->
            <span class="title" translate="queue.gadgetSetting"></span>
            <!-- /Title -->

            <span flex></span>

            <!-- CLOSE DIALOG BUTTON -->
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                       translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
            <!-- /CLOSE DIALOG BUTTON -->
        </div>

    </md-toolbar>

    <form name="gadgetSettingForm" class="user-detail">

        <md-dialog-content>

            <!--Queues Selection -->

            <div layout="row">

                <div flex="40">

                    <md-input-container>

                        <!--Skill with menu icon to list all the Queues-->

                        <div layout="row" layout-align="space-between center" align="right">

                            <div>
                                <span translate="queue.selectQueue"></span>
                            </div>

                            <md-menu class="labels">

                                <md-button class="md-icon-button" aria-label="Label"
                                           ng-click="$mdOpenMenu($event)">
                                    <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>

                                <md-menu-content class="labels-menu-content">

                                    <md-tooltip><span translate="queue.selectQueue"></span></md-tooltip>

                                    <md-menu-item>
                                        <md-input-container class="no-errors-spacer" md-no-float>
                                            <input class="serInput"
                                                   placeholder="{{'queue.searchQueue' | translate}}"
                                                   type="text"
                                                   ng-model="vm.searchQueueText" autocomplete="off"
                                                   translate-attr-palceholder="queue.searchQueue">
                                        </md-input-container>
                                    </md-menu-item>

                                    <md-menu-item class="label "
                                                  ng-repeat="queue in vm.queuesList | filter: vm.searchQueueText">

                                        <md-button class="label-toggle-button" md-prevent-menu-close
                                                   ng-click="vm.updateQueues(queue, true, !queue.selected)"
                                                   aria-label="Toggle Label" translate
                                                   translate-attr-aria-label="queue.searchQueue">
                                            <div layout="row" layout-align="space-between center">
                                                <span>{{queue.name}}</span>

                                                <i ng-if="queue.selected" class="icon-check s16"></i>
                                            </div>
                                        </md-button>

                                    </md-menu-item>


                                </md-menu-content>
                            </md-menu>

                        </div>

                        <md-chips disabled="true" name="skills" class="label-chips skill-chips"
                                  ng-model="vm.selectedQueuesList" md-autocomplete-snap
                                  md-require-match="true">

                            <md-autocomplete
                                    md-search-text="vm.searchQueueText"
                                    md-items="queue in vm.queueQuerySearch(vm.searchQueueText)"
                                    md-item-text="queue.name"
                                    placeholder="{{'queue.addQueue' | translate}}"
                                    md-selected-item-change="vm.updateQueues(queue, false, true)">

                                <span md-highlight-text="vm.searchQueueText">{{queue.name}}</span>
                            </md-autocomplete>

                            <md-chip-template class="member-chip">
                                <span>{{$chip.name}} </span>
                            </md-chip-template>

                            <button md-chip-remove ng-click="vm.updateQueues($chip, false, false)"
                                    class="md-primary">
                                <md-icon md-font-icon="icon-close" class="s18"></md-icon>
                            </button>

                        </md-chips>

                    </md-input-container>

                </div>

                <div flex="60">

                    <md-input-container>

                        <!--Skill with menu icon to list all the Queues-->

                        <div layout="row" layout-align="space-between center" align="right">

                            <div>
                                <span translate="queue.selectAttributes"></span>
                            </div>

                            <md-menu class="labels" align="right">

                                <md-button class="md-icon-button" aria-label="Label"
                                           ng-click="$mdOpenMenu($event)">
                                    <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>

                                <md-menu-content class="labels-menu-content">

                                    <md-tooltip><span translate="queue.selectAttributes"></span></md-tooltip>

                                    <md-menu-item>
                                        <md-input-container class="no-errors-spacer" md-no-float>
                                            <input class="serInput"
                                                   placeholder="{{'queue.searchQueueAttributes' | translate}}"
                                                   type="text"
                                                   ng-model="vm.searchQueueAttributeText" autocomplete="off"
                                                   translate-attr-palceholder="queue.selectAttributes">
                                        </md-input-container>
                                    </md-menu-item>

                                    <md-menu-item class="label "
                                                  ng-repeat="queueAttribute in vm.queueAttributesList | filter: vm.searchQueueAttributeText">

                                        <md-button class="label-toggle-button" md-prevent-menu-close
                                                   ng-click="vm.updateQueueAttributes(queueAttribute, true, !queueAttribute.selected)"
                                                   aria-label="Toggle Label" translate
                                                   translate-attr-aria-label="queue.searchQueueAttributes">
                                            <div layout="row" layout-align="space-between center">
                                                <span>{{queueAttribute.name}}</span>

                                                <i ng-if="queueAttribute.selected" class="icon-check s16"></i>
                                            </div>
                                        </md-button>

                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>

                        </div>

                        <md-chips disabled="true" class="label-chips skill-chips"
                                  ng-model="vm.selectedQueueAttributesList" md-autocomplete-snap
                                  md-require-match="true">

                            <md-autocomplete
                                    md-search-text="vm.searchQueueAttributeText"
                                    md-items="queueAttribute in vm.queueAttributeQuerySearch(vm.searchQueueAttributeText)"
                                    md-item-text="queueAttribute.name"
                                    placeholder="{{'queue.addQueueAttribute' | translate}}"
                                    md-selected-item-change="vm.updateQueueAttributes(queueAttribute, false, true)">

                                <span md-highlight-text="vm.searchQueueAttributeText">{{queueAttribute.name}}</span>
                            </md-autocomplete>

                            <md-chip-template class="member-chip">
                                <span>{{$chip.name}} </span>
                            </md-chip-template>

                            <button md-chip-remove ng-click="vm.updateQueueAttributes($chip, false, false)"
                                    class="md-primary">
                                <md-icon md-font-icon="icon-close" class="s18"></md-icon>
                            </button>

                        </md-chips>

                    </md-input-container>

                </div>

            </div>

            <div layout="row" class="date-row">

                <md-input-container class="md-block" flex="30">

                    <label translate="queue.activeemailsLabel"></label>

                    <input type="number" name="csqSla" min="1" max="100"
                           onkeydown="return event.keyCode == 69 ? false : true"
                           ng-model="vm.gadgetSetting.activeemails" autocomplete="off">

                </md-input-container>

                <div flex="5"></div>

                <md-input-container class="md-block" flex="30">

                    <label translate="queue.handledemailsLabel"></label>

                    <input type="number" name="handledemails" min="1"
                           onkeydown="return event.keyCode == 69 ? false : true"
                           ng-model="vm.gadgetSetting.handledemails" autocomplete="off">

                </md-input-container>

                <div flex="5"></div>

                <md-input-container class="md-block" flex="30">

                    <label translate="queue.offeredemailsLabel"></label>

                    <input type="number" name="offeredemails" min="1"
                           onkeydown="return event.keyCode == 69 ? false : true"
                           ng-model="vm.gadgetSetting.offeredemails" autocomplete="off">

                </md-input-container>

            </div>

            <div layout="row" class="date-row">

                <md-input-container class="md-block" flex="30">

                    <label translate="queue.agentsLoggedInLabel"></label>

                    <input type="number" name="agentsLoggedIn" min="1"
                           onkeydown="return event.keyCode == 69 ? false : true"
                           ng-model="vm.gadgetSetting.agentsLoggedIn" autocomplete="off">

                </md-input-container>

                <div flex="5"></div>

                <md-input-container class="md-block" flex="30">

                    <label translate="queue.notReadyAgentsLabel"></label>

                    <input type="number" name="notReadyAgents" min="1"
                           onkeydown="return event.keyCode == 69 ? false : true"
                           ng-model="vm.gadgetSetting.notReadyAgents" autocomplete="off">

                </md-input-container>

                <div flex="5"></div>

                <md-input-container class="md-block" flex="30">

                    <label translate="queue.agentsreadyLabel"></label>

                    <input type="number" name="agentsReady" min="1"
                           onkeydown="return event.keyCode == 69 ? false : true"
                           ng-model="vm.gadgetSetting.agentsReady" autocomplete="off">

                </md-input-container>

            </div>

            <div layout="row">

                <label translate="queue.thresholdColor"></label>:

                <div flex="5"></div>

                <md-radio-group ng-model="vm.gadgetSetting.thresholdColor" layout="row">

                    <md-radio-button value="orange" class="md-warn">
                        <label translate="queue.thresholdOrangeColor"></label>
                    </md-radio-button>

                    <md-radio-button value="red" class="md-warn md-hue-2">
                        <label translate="queue.thresholdRedColor"></label>
                    </md-radio-button>

                </md-radio-group>

            </div>

            <md-dialog-actions layout="row" layout-align="center center">

                <!--Button will be enabled when user will select atleast one field-->
                <md-button ng-click="vm.saveGadgetSetting(vm.gadgetSetting)"
                           class="md-button-custom save-button md-accent white-fg md-raised" aria-label="Save"
                           ng-disabled="gadgetSetting.$invalid || (!vm.gadgetSetting.activeemails &&
                                        !vm.gadgetSetting.handledemails && !vm.gadgetSetting.offeredemails &&
                                        !vm.gadgetSetting.agentsLoggedIn && !vm.gadgetSetting.notReadyAgents &&
                                        !vm.gadgetSetting.agentsReady && !vm.gadgetSetting.thresholdColor)"
                           >
                    <span translate="generic.save"></span>
                </md-button>

            </md-dialog-actions>

        </md-dialog-content>

    </form>
</md-dialog>