<div id="dashboard-project" class="page-layout simple right-sidenav boxed" layout="row" flex="100" ms-scroll>

    <div id="boxed_main">

        <div layout="row" layout-align="end center" class="setting-button">
            <buttom class="font-size-24 icon-cog" ng-click="vm.loadQueueGadgetSettings($event)"></buttom>
        </div>

        <!-- WIDGET GROUP -->
        <div ng-repeat="queue in vm.queueStats" ng-if="vm.showQueue(queue.queueName)">

            <div class="h3 font-weight-800 font-size-20 black-text" align="center">
                {{queue.queueName}}
            </div>

            <!--Moved back to complete attributes list from selected list because after removing an
            attribute when its re-added, its being shown at the end instead of its actual position-->
            <div class="queue-card" ng-repeat="queueAttribute in vm.queueAttributesList"
                 ng-if="vm.showAttribute(queueAttribute.key)">

                <div class="h3 secondary-text">
                    <b><span translate="queue.{{queueAttribute.key}}"> </span></b>
                </div>

                <div class="font-size-40 line-height-40">
                    <span ng-class="( (vm.finalQueueGadgetSetting[queueAttribute.key] && vm.finalQueueGadgetSetting[queueAttribute.key] <= queue[queueAttribute.key]) ? vm.finalQueueGadgetSetting.thresholdColor:'indigo-A700-fg')">
                        <span ng-if="queueAttribute.key == 'maxTalkTime' || queueAttribute.key == 'maxWaitTime' ||
                                     queueAttribute.key == 'avgTalkTime' || queueAttribute.key == 'avgWaitTime' ||
                                     queueAttribute.key == 'longestCallInQueue'">
                            {{queue[queueAttribute.key] | secondsToDateTime| date:'mm:ss'}}
                        </span>
                        <span ng-if="!(queueAttribute.key == 'maxTalkTime' || queueAttribute.key == 'maxWaitTime' ||
                                       queueAttribute.key == 'avgTalkTime' || queueAttribute.key == 'avgWaitTime' ||
                                       queueAttribute.key == 'longestCallInQueue')">
                            {{queue[queueAttribute.key]}}
                        </span>
                    </span>
                </div>

            </div>

        </div>

    </div>

</div>