.red {
  color: red;
}

.orange {
  color: orange;
}

.md-button-custom:not([disabled]) {
  background-color: rgba(36, 73, 158, .95) !important
}

.md-button-custom[disabled] {
  background-color: none
}

.setting-button {
  margin-top: 10px;
  margin-bottom: -20px;
}

/* Scss Document */
body {
  //margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: Roboto, Helvetica Neue, sans-serif;
  background-color: #e9ecef;
}

.queue-card {
  width: 200px;
  margin: 4px 0;
  padding: 7px 10px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.card_style {
  margin-right: 5px;
}

.boxed {
  background-color: #e9ecef;
}

.boxed #boxed_main {
  box-shadow: none;
  text-align: center;
  width: 100%;
}

@media all and (min-width: 600px) {
  .queue-card {
    width: 190px;
    margin: 0.5em 0 0 0.5em;
  }
}

@media all and (min-width: 960px) {
  .queue-card {
    width: 200px;
    margin: 0.5em 0 0 0.5em;
  }
}

@media all and (min-width: 1280px) {
  .queue-card {
    width: 190px;
  }
}